

/* ==========================================================================
   luniam's custom styles
   ========================================================================== */
/*changing font family start*/

@import url(https://fonts.googleapis.com/css?family=Roboto|Exo+2:700); /*custom google font*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Exo 2', sans-serif;
<link href='https://fonts.googleapis.com/css?family=Roboto|Exo+2:700' rel='stylesheet' type='text/css'>*/

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #DADAD2;
}

.footer-modal {
    font-size: 1.05em;
}

.footer-image {
    margin-top: 10px;
    margin-bottom: 10px;
    width : 30px;
    height: 30px;
}

/*.footer > .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}*/

/*changing font family end*/


/*adding padding on top of petersen graph start and rotating them*/

.petersengraph {
    margin-top: 20px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    opacity: 0.3;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.graph {
    background-color: #AC4057;
    padding-top: 10px;
}

/*adding padding on top of petersen graph end*/



/*changing the bootsrap navbar start */

.navbar-custom {
    background-color: #294860;
    color:#3b5998;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #E7E7E7;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { 
    
    /*text-decoration: none;*/ 
    /*#33aa33*/
    /*background-color: #161693;*/
    /*color: #ffffff;*/
    /*background-color:transparent;*/

}
.navbar-custom .navbar-brand {
    color:#E7E7E7;
}

.navbar-default .navbar-brand {
    color:#E7E7E7;
}

.navbar-custom .navbar-brand:hover {
    color:#E7E7E7;
}

/*changing the bootsrap navbar end*/

.footerlink {
    padding-left: 5px;
    padding-right: 5px;
}


/*responsive svg start*/

svg {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.svg-container {
    margin: 0 auto;
    padding: 10px;
}

.svg-content-responsive {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    padding: 10px;
    border: 2px solid #e5e5e5;
}

/*responsive svg end*/


/*svg cursor and draw panel start*/


/*.crosshair_cursor:hover {
    cursor: crosshair;
}*/

.crosshair_cursor {
    border: 2px solid #e5e5e5;
}

.crosshair_cursor:not(.active):not(.ctrl) {
    cursor: crosshair;
}

.crosshair_cursor:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

circle.node {
  cursor: pointer;
}

text.node {
  cursor: pointer;
}

text {
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

/*svg cursor and draw panel end*/


/*styles for the left sidebar*/

.leftSidebar {
    background-color: #28ABE3;
    color: white;
}

li.bar {
    font-size: 1.05em;
    margin-bottom: 20px;
    margin-top: 25px;
    padding-left: 5px;
}

li.bar:hover {
    cursor: pointer;
}

/*styles for the left sidebar*/



/*jquery ui slider*/

.ui-slider-horizontal {
    background-color: #28ABE3;
    height: 0.5em;
}

.ui-slider-handle {
    background-color: #000000;
    height: 0.5em;
}

.ui-slider-handle:hover {
    cursor: pointer;
}

.speedTag {
    font-size: 1em;
    font-family: 'Exo 2', 'Roboto';
}

#speedbar {
    margin-top: 5px;
}

/*jquery ui slider*/

/*jquery ui progressbar*/

.ui-progressbar {
    background-color: #a6a6a6;
    height: 1em;
}

.ui-progressbar .ui-progressbar-value {
    background-color: #28ABE3;
    height: 1.25em;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    /*height: 100%;*/
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

.playpause {
    font-size: 1.25em;
}

.playpause:hover {
    cursor: pointer;
}

/*jquery ui progressbar*/

.hid {
    display: none;
}

.transparent {
    opacity: 0;
}

.barslide {
    font-size: 1.05em;
    margin-top: 20px;
    padding-left: 5px;
}

.runbutton {
    cursor: pointer;
}

.runner {
    padding-bottom: 5px;
}

/*.thirdelem {
    padding-top: 90px;
}*/

/*changing the about panel color*/

.panel-primary {
    border-color: #294860;
}

.panel-primary>.panel-heading {
    background-color: #294860;
}

/*@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

#animate-area   { 
    background-image: url(../img/complexity.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;

    opacity: 0.5;
    width: 100%;
    height: 100%;

    animation: animatedBackground 40s linear infinite;
}*/

.btn-js_search {
    font-family: 'Roboto', sans-serif;
}

.img-home {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.img-hover-pos:hover {
    opacity: 0.6;
    cursor: pointer;
}

.img-hover-neg:hover {
    cursor: not-allowed;
}

/*w3 css styles start*/

.w3-card-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.w3-padding-medium, .w3-padding, .w3-form {
    padding: 8px 16px !important;
}

.w3-padding-special {
    padding-left: 15px;
}

.w3-border {
    border: 5px solid #ccc !important;
}

/*w3 css styles end*/

.center-text {
    text-align: center;
}

.navbar-form >.badge {
    margin: 5px;
}

.left-margin-reset {
    margin-left: -20px;
    font-family: 'Roboto';
}

/*drawGraph modal*/

.modalButton {
    height: 50px;
    margin: 10px;
}

.modalButton:hover {
    cursor: pointer;
}

/*drawGraph modal*/